@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'oswald', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --red:#E54040;
    --bg-color: #EDEDED;
    --color-font-primaria: #FF3C3C;
    --color-font-descrição: #3E3B3B;
    --btn-hover:#ef6767;
}
body {
    color: #FFF;
    background: var(--bg-color);
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background: var(--red);
    transition: all 0.5s;
    height: 110px;
}
.navigation .logo {
    color: #FFF;
    font-size: 1.7rem;
}
.navigation ul {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.navigation ul li a{
    color: #FFF;
    font-size: 1rem;
    transition: all 0.5s;
}
.navigation ul li a:hover {
    color: #CCC;
    border-bottom: 1px solid #ccc;
}
.menu {
    cursor: pointer;
    display: none;

}
.menu .bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: #FFF;
    margin: 5px auto;
    transition: all 0.3s;
}
.banner {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.btn:hover {
    transform: scale(1.1);
    background-color:var(--btn-hover) ;
}
.primeira-section {
    display: flex;
    flex-direction: column;
}
.primeira-section .titulo {
    margin: 2rem;
    white-space: nowrap;
    width: 20%;
    font-size: 1.2rem;
    color: var(--color-font-primaria);
    border-bottom: 1px solid var(--color-font-primaria);
}
@media screen and (min-width: 450px){
    .primeira-section .titulo{
    font-size: 1.5rem;
    width: 23%;
    }
}
.primeira-section .descricao {
    margin: 0 2rem;
    font-family: 'Roboto', sans-serif;
    color: var(--color-font-descrição);
} 
.img-academia {
    margin: 2rem;
}
.primeira-section .btn {
    display: flex;
    margin: 1rem auto;
    justify-content: center;
    color: #FFF;
    padding: 5px 15px;
    background-color: var(--red);
    border-radius: 5px;
    width: 150px;
    transition: 0.3s all;
}
.divider {
    margin-top: 2rem;
    width: 100%;
    /* height: 252px; */
}
.divider-img {
    width: 100%;
    background-repeat: no-repeat;
    /* background-size: cover; */
}
.beneficios {
    margin-top: -10px;
    width: 100%;
    height: 30%;
}
.topicos-beneficios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.equipamentos, .instrutores, .aulas, .localidade {
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.esteira-icon, .halter-icon, .people-icon, .localidade-icon {

    margin: 0 0.5rem 0 -3rem;
    width: 60px;
}
.textos-beneficios {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.titulo-beneficio {
    width: 177px;
    color: var(--red);
    white-space: nowrap;
    border-bottom: 1px solid red;
    font-size: 1.2rem;
}
.aulas .titulo-beneficio {
    width: 112px;
}
.localidade .titulo-beneficio {
    width: 105px;
}
.descricao-beneficio {
    color: var(--color-font-descrição);
    margin-top: 1rem;
    width: 200px;
}
.nossos-planos {
    display: flex;
}
.planos-banner {
    width: 100%;
    height: 30%;
}
.planos {
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.titulo-plano, .preco {
    color: var(--color-font-primaria);
}
.descricao-plano, .valor {
    color: var(--color-font-descrição);
    margin: 0.7rem auto;
}
.plano-1, .plano-2, .plano-3 {
    /* background-color: #FFF; */
    margin: 1rem auto;
    padding: 2rem 5rem;
    border: 2px solid red;
    border-radius: 15px;
    transition: 0.3s all;
    background: linear-gradient(145deg, #ffffff, #e0e0e0);
    box-shadow:  5px 5px 13px #d3d3d3,
             -5px -5px 13px #ededed;
}
.plano-2, .plano-3 {
    background-color: #FFF;
    margin: 1rem auto;
    padding: 2rem 4rem;
    border: 2px solid red;
    border-radius: 15px;
    transition: 0.3s all;
}
.especialistas {
    width: 70%;
    color: var(--red);
}
.whatsapp-icon {
    width: 100px;
    margin: 1rem auto;
    border-radius: 10px;
    padding: 0 30px;
    /* padding: 60px; */
    background-color: rgb(46, 204, 46);
    transition: 0.5s all;
}
.footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--red);
    transition: 0.5s all;
}
.sociais {
    margin: 1rem auto;
    font-weight: 200;
    font-size: 14px;
}
.instagram-icon, .facebook-icon, .twitter-icon:not(:last-child) {
    margin-right: 1rem;
}
.instagram-icon, .facebook-icon, .twitter-icon {
    transition: 0.5s all;
}
.instagram-icon:hover, .facebook-icon:hover, .twitter-icon:hover {
    transform: scale(1.5);
}
.location-1, .location-2 {
    display: flex;
    flex-direction: row;
}
.location {
    margin-top: 1rem;
    font-size: 14px;
    font-weight: 200;
}
.location-icon {
    padding: 0.3rem;
}
.links-footer {
    display: flex;
}
.link:not(:last-child) {
    margin-right: 2rem;
}
.link {
    color: #FFF;
    margin: 1.5rem auto;
    font-size: 1.2rem;
    font-weight: 200;
    transition: 0.5s all;
}
.link:hover {
    transform:scale(1.2);
}
.logo-footer {
    margin: 1rem auto;
}
@media screen and (max-width: 769px){
    .navigation {
        padding: 18px 20px;
    }
    .menu {
        display: block;
    }
    .menu.ativo .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }
    .menu.ativo .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
        position: fixed;
        right: -100%;
        top: 110px;
        width: 50%;
        height: 56%;
        font-size: 1.5rem;
        flex-direction: column;
        background: black;
        opacity: 85%;
        gap: -10px;
        transition: 0.3s;
        z-index: 999;
    }
    .nav-menu.ativo {
        right: 0;
        height: 100%;
        width: 100%;
    }
    .nav-item {
        margin: 20px 0;
    }
}
@media screen and (min-width: 320px) {
    .nav-menu.ativo {
        height: 100%;
        width: 100%;
    }
    .nav-item {
        margin: 5px 0;
    }
}
@media screen and (min-width: 400px) {
    .nav-menu.ativo {
        height: 100%;
        width: 100%;
    }
    .nav-item {
        margin: 13px 0;
    }
}
@media screen and (min-width:620px) {
    .nav-menu.ativo {
        height: 100%;
        width: 100%;
    }
    .nav-item {
        margin: 28px auto;
    }
    .navigation ul li a{
        font-size: 1.5rem;
        margin: 0 1rem;
    }
}
